# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Sass
.sass-cache/

# files beginning with local
local*

# saved hours
hours/

# used for sending records to cluster
config/crypto

